[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
numpy = "*"
pandas = "*"
elasticsearch = "*"
python-bitbankcc = {git = "https://github.com/bitbankinc/python-bitbankcc.git"}

[packages]

[requires]
python_version = "3.7"

[scripts]
index = "python index.py"
document = "python document.py"
start = "python main.py"
search = "python search.py"

